#google-reviews {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
}

#google-reviews div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#google-reviews span {
    font-family: sans-serif;
    display: flex;
    border: 4px solid #283673;
    border-radius: 16px;
    color: #1B254F;
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding: 12px 16px;
}